
/*universal initial setting*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

	
}


#product-form{
	padding: 10px;
	margin-left: 25px;
	margin-top: 20%;


}

/*.guide{
	border: 2px solid black;
}*/

.error_message{
	color: red;
}

.success_message{
	color:green;
}

#product-list{
	margin-left: 20px;
	padding: 10px;
}

#product-space{

	margin-left: 45px;
}

.product-image{
	height: 50px;
	width: 50px;
}

.items-card{
	padding: 15px;
	margin-left: 1px;
}
.items-div{
	margin-bottom: 10px;
	
}

#sort-filter{
	margin-bottom: 10px;
}

.img-items{
	width: 100%;
	height: 300px;
}